*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: "Roboto", "Noto Sans", "Helvetica", sans-serif;
    font-size: 14px;
    background-color: #999cd9;
    height: 100%;
}

.calculator {
    width: 350px;
    height: auto;
    margin: 70px auto 0;
    overflow: hidden;
    box-shadow: 4px 4px rgba(0, 0, 0, .2);
}

.calculator span {
    -moz-user-select: none;
    user-select: none;
}